/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2017, 3:08:10 PM
    Author     : awal
*/

div#inquirytask table#tbl-data tr>td:first-child
{
  width: 70px;
  padding: 2px 5px;
}
div#inquirytask table#tbl-data tr>td:first-child button {
  width: 60px;
}

div#inquirytask select, div#inquirytask input {
  margin-bottom: 10px;
}

div#inquirytask .i-am-a-border {
  opacity: 0 !important;
}
div#inquirytask .i-am-a-border:hover {
  cursor: default;  
}

div#inquirytask .table-container>table>thead>tr>th:first-child {
  background-color: rgba(60,60,60,0.9);
  width: auto;
}

div#inquirytask div#mdl-task-result .modal-header,
div#inquirytask div#det-quest div.group-header,
div#inquirytask div#photo-quest div.group-header {
  background-color: #147;
  color: #efefff;
}
div#inquirytask div#mdl-task-result .modal-header img {
  width: 30px;
  height: 30px;
}
div#inquirytask div#mdl-task-result .modal-header>button.close {
  color: red;
  opacity: 0.5;
}
div#inquirytask div#mdl-task-result .modal-header>button.close:hover {
  opacity: 0.9;
  transform: scale(1.5);
}
div#inquirytask div#mdl-task-result .modal-body {
  height: 600px;
  overflow: auto;
}

div#inquirytask div#det-quest div.group-header,
div#inquirytask div#photo-quest div.group-header {
  text-align: center;
  padding: 5px;
  width: 100%;
  font-weight: bold;
}
div#inquirytask div#det-quest table tr>th {
  background-color: #efefff;
  text-align: center;
  vertical-align: middle;
}
/*div#inquirytask div#det-quest table tr>th.checkbox-hdr {
  width: 30px;
}
div#inquirytask div#det-quest table tr>th.input-data {
  width: 200px;
}
div#inquirytask div#det-quest table tr>td.checkbox-dtl {
  text-align: center;
}
div#inquirytask div#det-quest table tr>td.input-dtl {
  margin: 0;
  padding:0;
}
div#inquirytask div#det-quest table tr>th.input-id,
div#inquirytask div#det-quest table tr>td.input-id>input,
div#det-quest table tr>th.column-id {
  width: 50px;
}
div#inquirytask div#det-quest table tr>td.input-text>input {
  width: 100%;
}*/
div#inquirytask div#det-quest table tr>td {
  min-width: 150px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div#inquirytask div#det-quest table tr>td:hover {
  overflow: visible; 
  white-space: normal;
}

div#inquirytask div#photo-quest div.img-photo {
  float: left;
  margin-right: 10px;
  text-align: center;
}
div#inquirytask div#photo-quest div.img-photo>img {
  width: 300px;
}