/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 6:29:34 AM
    Author     : awal
*/

div#jobassignment table#tbl-data-dtl tr>th:first-child
{
  width: 41px;
}
div#jobassignment table#tbl-data-dtl tr>td:first-child
{
  width: 40px;
}
div#jobassignment table#tbl-data-dtl tr>th:nth-child(2),
div#jobassignment table#tbl-data-dtl tr>td:nth-child(2)
{
  width: 100px;
}
div#jobassignment table#tbl-data-dtl tr>th:last-child,
div#jobassignment table#tbl-data-dtl tr>td:last-child
{
  width: 400px;
  max-width: 400px;
}

div#jobassignment form#form-save.form-non-modal {
  margin-top: 20px;
  width: 50%;
}