/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 6:28:10 AM
    Author     : awal
*/

table#tbl-data-dtl tr>th:first-child
{
  width: 41px;
}
table#tbl-data-dtl tr>td:first-child
{
  width: 40px;
}
table#tbl-data-dtl tr>th:nth-child(2),
table#tbl-data-dtl tr>td:nth-child(2)
{
  width: 210px;
}
table#tbl-data-dtl tr>th:nth-child(3),
table#tbl-data-dtl tr>td:nth-child(3)
{
  width: 135px;
}
table#tbl-data-dtl tr>th:nth-child(4),
table#tbl-data-dtl tr>td:nth-child(4)
{
  width: 70px;
}
table#tbl-data-dtl tr>th:last-child,
table#tbl-data-dtl tr>td:last-child
{
  width: 90px;
}
table#tbl-data-dtl tr>td:last-child {
  padding: 2px;
}
table#tbl-data-dtl tr>td:last-child>input {
  height: 30px
}