/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 6:29:34 AM
    Author     : awal
*/

div#template table#tbl-data-dtl tr>th:first-child
{
  width: 41px;
}
div#template table#tbl-data-dtl tr>td:first-child
{
  width: 40px;
}
div#template table#tbl-data-dtl tr>th:nth-child(2),
div#template table#tbl-data-dtl tr>td:nth-child(2)
{
  width: 285px;
}
div#template table#tbl-data-dtl tr>th:nth-child(3),
div#template table#tbl-data-dtl tr>td:nth-child(3)
{
  width: 100px;
}
div#template table#tbl-data-dtl tr>th:last-child,
div#template table#tbl-data-dtl tr>td:last-child
{
  width: 120px;
}
div#template table#tbl-data-dtl tr>td:nth-child(3) {
  padding: 2px;
}
div#template table#tbl-data-dtl tr>td:nth-child(3)>input {
  height: 30px
}