/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2016, 9:38:20 AM
    Author     : awal
*/

.profile-header {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: #008 0px 0px 4px;
}

.profile-body {
  width: 60%;
}